@import "ui-variables";

@lens-font-size: @font-size - 1px;
@warning-color: #ed3939;

.fa {
    font-family: 'FontAwesome';
}

.elm-lens-marker {
    font-size: @lens-font-size;
    font-weight: bold;
    color: gray;
    cursor: default;
}

.elm-lens-marker .divider {
    padding: 0 10px;
}

.elm-lens-marker.reprocessing {
    color: gray;
}

.elm-lens-marker.reprocessing .exposing {
    color: gray;
}

.elm-lens-marker .internal-refs.warning,
.elm-lens-marker .external-refs.warning {
    color: @warning-color;
}

.elm-lens-marker .warning-icon,
.elm-lens-marker .test-icon {
    padding-right: 8px;
}

.elm-lens-marker .warning-icon {
    color: @warning-color;
}
