@import "ui-variables";

@lens-font-size: @font-size - 1px;

.fa {
    font-family: 'FontAwesome';
}

.elm-lens-marker {
    font-size: @lens-font-size;
    font-weight: bold;
    color: gray;
    cursor: default;
}

.elm-lens-marker .divider {
    padding: 0 10px;
}

.elm-lens-marker.reprocessing {
    color: gray;
}

.elm-lens-marker.reprocessing .exposing {
    color: gray;
}
